<div class="talents-wrapper">
    <app-talent *ngFor="let talentKV of talents| keyvalue" [talent]="talentKV.value" [getTalentFunction]="getTalent"
        (eventTalentSelected)="closeAllTalents()" [ngStyle]="talentKV.value.coordinate">
        test
    </app-talent>
    <div class="commander-icon"></div>
</div>
<div class="btn-wrapper-reset">
    Total Points: {{totalPoints}} <button class="btn btn-red" (click)="reset()">Reset</button>
</div>
<div class="btn-wrapper-generate">
    <button class="btn btn-blue" (click)="ngxSmartModalService.getModal('shareModal').open()">Share</button>
</div>
<ngx-smart-modal #shareModal identifier="shareModal">
    <p>Share this URL to whom you want to share the app-talent tree.</p>
    <div class="modal-input-wrapper">
        <input #inputTarget type="text" [value]="shareableLink"/>
        <button class="btn btn-blue" [ngxClipboard]="inputTarget"><fa-icon icon="clipboard"></fa-icon></button>
    </div>

    <button class="btn btn-red" (click)="shareModal.close()">Close</button>
</ngx-smart-modal>